.testimonal__data,
.testimonal__header {
    display: flex;
}

.testimonal__data {
    justify-content: space-between;
}

.testimonal__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: var(--mb-0-75);
}

.testimonal__name {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.testimonal__client {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.testimonal__description {
    margin-bottom: var(--mb-2-5);
}

.testimonal__icon-star {
    color: var(--first-color);
}

.swiper-container .swiper-pagination-testimonal {
    bottom: 0;
}
